.main-header {
	outline: 1px solid yellow;
}	 
.main-navigation {
	outline: 1px solid green;
}

.site-navigation {
	outline: 1px solid blue;
}

.cart-navigation {
	outline: 1px solid red;
}

.main-header-logo {
	outline: 1px solid purple;
}

.main-navigation-wrapper .container {
	outline: 1px solid black;
	
}

.slider-container {
	outline: 1px solid black;
}

.slider-left-column{
	outline: 1px solid green;
}

.offer-list {
	outline: 1px solid purple;
}

.offer-item {
	outline: 1px solid blue;
}

.detail-left-column {
	outline: 1px solid blue;
}
	
.detail-right-column {
	outline: 1px solid green;
}

.flex-container {
	outline: 1px solid green;
}

.brand-menu {
	outline: 1px solid blue;
}

.brand-item-image {
	outline: 1px solid red;
}

.brand-site {
	outline: 1px solid green;
}

.main-footer {
	outline: 1px solid blue;
}

.footer-info {
	outline: 1px solid green;
}

.footer-social {
	outline: 1px solid red;
}

.map {
	outline: 1px solid red;
}

.map-image {
	outline: 1px solid green;
}

.catalog-columns {
	outline: 1px solid green;
}

.filter {
	outline: 1px solid red;
}

.catalog-right-column {
	outline: 1px solid blue;
}

h3 {
	outline: 1px solid red;
}
ul {
	outline: 1px solid green;
}

li {
	outline: 1px solid purple;
}

.button-show {
	outline: 1px solid blue;
}

figure {
	outline: 1px solid blue;
}

svg,
tr,
td,
table {
	outline: 1px solid blue;
}

.modal-login {
	outline: 1px solid blue;
}

.container-contacts {
	outline: 1px solid blue;
}

.container-center {
	
	outline: 1px solid purple;
}

.footer-contacts {
	outline: 1px solid red;
}

.modal-feedback-title {
	outline: 1px solid red;
}

.catalog-item-info {
	outline: 1px solid purple;
}