body {
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
	background-image: url("../img/pattern-white.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

p,
.text-range,
.text-order {
	color: #283136;
}


a {
	text-decoration: none;
	color: #000000;
}

ul {
	list-style: none;
}

.main-header {
	background-color: #eeeeee;
	background-image: url("../img/pattern-grey.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-header-logo:focus {
	opacity: 0.3;
}

.cart-navigation,
.site-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: black;
	text-transform: uppercase;
}


.site-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:active {
	color: #c0c0c0;
}

.site-navigation a:focus {
	padding-bottom: 9px;
	border-bottom: 2px solid #fb565a;
}

.cart-navigation a:hover {
	color: #fb565a;
}

.cart-navigation a:active{
	color: #c0c0c0;
}

.cart-navigation a:focus {
	padding-bottom: 8px;
	border-bottom: 2px solid #fb565a;
}

.cart-link {
	padding-left: 40px;
}

.cart-link:focus {
	padding-left: 40px;
	padding-bottom: 8px;
	border-bottom: 2px solid #fb565a;
}

.cart-navigation .cart-link {
	position: relative;
}

.cart-link::before {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;
	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.main-header-title,
.slider-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

/*основная часть*/

.offer-item-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.offer-item-info {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 240px;
	padding: 15px 0;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.catalog-btn {
	width: 200px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.btn-contacts {
	width: 220px;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.offer-btn-web {
	width: 160px;
}

.offer-mobile {
	width: 160px;
	background-color: #00ca74;
}

.offer-mobile:hover,
.offer-mobile:focus {
	background-color: #00bc6c;
}

.offer-mobile:active {
	background-color: #00aa62;
}
.offer-site {
	width: 160px;
	background-color: #efc84a;
}

.offer-site:hover,
.offer-site:focus {
	background-color: #eab534;
}

.offer-site:active {
	background-color: #e5a722;
}

.detail-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

table th {
	font-size: 45px;
	font-weight: 700;
}

table td {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #283136;
}

.brand-item-image {
	opacity: 0.2;
}

.brand-item-image:hover {
	opacity: 1;
}

.brand-item-image:active {
	opacity: 0.1;
}

.filter  fieldset {
	border: none;
}

.title-contacts,
.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.filter ul {
	list-style: none;
	line-height: 20px;
	font-size: 16px;
	font-weight: 400;
}

.footer-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.footer-contacts {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.footer-info-item {
	color: #444444;
	font-size: 16px;
	line-height: 22px;
}

.catalog-sort {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.arrow,
.catalog-option-active {
	color: #000000;
	opacity: 0.3;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.arrow:hover,
.catalog-option-active:hover {
	color: #000000;
	opacity: 0.6;
}

.arrow:focus,
.catalog-option-active:focus {
	color: #000000;
	opacity: 1;
}

.catalog-btn,
.catalog-btn:hover,
.catalog-btn:active {
	color: #ffffff;
}

/*Сеточные стили*/

html,
body {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
b,
figure {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.main-header {
	min-height: 0px;
	padding-top: 49px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-navigation {
	display: flex;
	padding: 0;
	margin: 0;
}

.main-header-logo {
	width: 165px;
	height: 65px;
	margin-right: 195px;
}

.site-navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	padding:0;
	margin: 0;
	margin-top: 19px;
	margin-bottom: 10px;
}

.line-active::after {
	content: "";
	position: absolute;

	top: 98%;
	left: 0;


	width: 75px;
	height: 4px;
	border-bottom: 2px solid #fb565a;
}

.site-item {
	position: relative;
	margin-right: 47px;
}

.site-item:last-child {
	margin-right: 0px;
}

.site-navigation {
	width: 450px;
	margin-right: 150px;
	list-style: none;
}

.cart-navigation {
	width: 160px;
	text-align: right;
	vertical-align: bottom;
	margin-top: 27px;
}

.option-offer {
	margin: 0;
	padding: 0;
	margin-top: 82px;
}

.offer-list {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	margin: 0;
	padding: 0;
}

.offer-item {
	width: 300px;
	min-height: 0px;
	margin-right: 100px;
}

.offer-item:last-child {
	margin-right: 0px;
}

.offer-item-image {
	margin-bottom: 17px;
}

.offer-item-title {
	margin-bottom: 16px;
	text-transform: uppercase;
}

.offer-item-info {
	margin-bottom: 33px;
}

.columns-container {
	margin: 0;
	padding: 0;
	display: flex;
	margin-bottom: 35px;
}


hr {
	margin: 0 0;
	padding: 0 0;
	border: none;
	border-bottom: 2px solid #eeeeee;
	margin-top: 80px;
}

.detail-left-column {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 660px;
	min-height: 370px;
	margin-top: 76px;
	margin-right: 138px;
}

.detail-title {
	margin: 0;
	padding: 0;
	margin-bottom: 34px;
}

.detail-list-title {
	margin-bottom: 8px;
	text-transform: uppercase;
}

.detail-info {
	margin: 0;
	padding: 0;
	margin-bottom: 37px;
}

.text-order {
	position: relative;
	margin: 0;
	padding: 0;
	margin-left: -5px;
	margin-bottom: 24px;
}

.text-order:before {
	content: "";
	position: absolute;

	top: 10px;
	left: -35px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.detail-right-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 360px;
	min-height: 414px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;
}

.detail-header-image {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.table-info{
	display: block;
	margin-left: 19px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

sup {
	font-size: 28px;
}

table {
	margin: 0;
	padding: 0;
}

td,
th {
	padding: 0;
	margin: 0;
	padding: 14px 14px 14px 2px ;
	text-align: left;
}

.brand-menu {
	padding: 37px 0;
	margin: 0;
	margin-bottom: 81px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.brand {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.brand-item-image {
	display: block;
	margin-top: 20px;
	padding: 0 30px;
}

.image-item-1 {
	display: block;
	margin-top: 5px;
	padding: 0 25px;
}

.image-item-2 {
	display: block;
	margin-top: 24px;
	padding: 0 35px;
}

.image-item-3 {
	display: block;
	margin-top: 10px;
	padding: 0 45px;
}

.brand-item {
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: 40px;
	width: 260px;
}

.brand-item:first-child {
	margin-left: 0px;
}

.brand-item:last-child {
	margin-right: 0px;
}

.line {
	position: relative;
}

.line-item::before{
	content: "";
	position: absolute;
	background-color: #eee;
	top: 25px;
	left: -22px;

	width: 2px;
	height: 52px;
}

.map {
	position: relative;
	height: 416px;
	margin-bottom: 70px;
}

.map iframe {
  position: absolute;
  z-index: 2;

  border: none;
  
  width: 100%;
  height: 416px;
}

.map-image {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
}

.map-image::after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.map-image-item {
	height: 416px;
}

.container-contacts {
	position: absolute;
	top: 55px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	width: 318px;
	min-height: 310px;
	background-color: #ffffff; 
	background-image: url("../img/pattern-white.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	z-index: 3;
}

.title-contacts {
	text-transform: uppercase;
	margin-bottom: 24px;
	margin-top: -3px;
}

.footer-contacts {
	text-align: left;
	margin-left: 2px;
}

.adress-item {
	margin-bottom: 18px;
	margin-left: 2px;
}

.number-item {
	margin-bottom: 38px;
}

.container-info-contacts {
	margin: 0;
	padding: 0;
	padding: 50px 0px;
}

.main-footer .container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 300px;
	min-height: 80px;
	margin-right: 60px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height : 78px;
	border-radius: 50%;
	background-color: #e1e1e1;
	margin-right: 13px;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:hover path,
.social-button:focus path {
	fill: #ffffff;
}

.social-button:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.social-button:active {
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.footer-info {
	display: flex;
	flex-wrap: wrap;
	width: 605px;
	min-height: 80px;
}

.footer-title {
	display: block;
	margin-bottom: 6px;
	margin-left: 39px;
	margin-top: 6px;
}

.footer-info-item {
	margin-left: 40px;
}

/*Сложный фильтр*/

.filter-item {
	margin: 0;
	padding: 0;

	border: none;

	width: 260px;
	margin: 50px auto; 
}

.range-filter {
	width: 260px;
	margin-top: 46px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;

	height: 41px;
	margin-bottom: 17px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f1f1f1;

	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 19px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 12px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-catalog-header {
	min-height: 305px;
	background-color: #eeeeee;
	margin: 0 auto;
	margin-bottom: 57px;
	padding-top: 49px;
}

.main-header-title {
	margin-top: 70px;
	text-align: center;
}

.catalog-left-column {
	margin: 0;
	padding: 0;
}

.filter {
	width: 300px;
	margin: 0;
	padding: 0;
	margin-right: 60px;
}


.filter fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 46px;
	border: none;
}

.filter fieldset:nth-child(2) {
	margin-bottom: 23px;
}

.filter fieldset:nth-child(3) {
	margin-bottom: 31px;
}

.filter legend {
	text-transform: uppercase;
	line-height: 30px;
	font-size: 18px;
	font-weight: 700;
}

.filter ul {
	padding: 0;
	margin: 0;
	margin-top: 16px;
}

.filter ul:last-child {
	margin-top: 17px;
}

.filter-option {
	margin-bottom: 20px;
	padding-left: 36px;
}

.filter-option label {
	position: relative;

	display: block;

	cursor: pointer;
	user-select: none;
}



.filter-input-radio + label::before {
	content: "";
	position: absolute;

	left: -36px;
	top: -4px;

	width: 16px;
	height: 16px;
	border-radius: 50%;

	border: 4px solid #4d4d4d;
	opacity: 0.4;
}

.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;

	top: 4px;
	left: -28px;

	width: 8px;
	height: 8px;
	border-radius: 50%;

	background-color: #4d4d4d;
	opacity: 0.4;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -36px;
	top: -2px;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;
	top: -2px;
	left: -36px;

	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}



.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after {
	content: "";
	opacity: 1;
	color: #000000;
}

.filter-input-radio:disabled + label::before {
	opacity: 0.1;
}

.filter-input-checkbox:checked + label::before {
	opacity: 0;
}

.filter-input,label {
	color: #283136;
}

.filter-input,label:hover {
	color: #000000;
}

.filter-input:disabled +label {
	color: #283136;
}

.button-show {
	margin: 0;
	width: 258px;
	margin-right: 40px;
	padding-right: 10px;
	padding-left: 9px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
}

.button-show:hover,
.button-show:focus {
	background-color: #dfdfdf;
}

.button-show:active {
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.catalog-right-column {
	width: 800px;
	margin: 0;
	padding:0;
}

.column-container-menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 53px;
}

.list-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;
	padding-left: 240px;
}

.menu-info-item:last-child {
	margin-right: 0;
}

.menu-info-item {
	margin-right: 25px;
}

.catalog-sort {
	margin-top: -2px;
	margin-left: 40px;
}

.menu-active {
	opacity: 1;
}


.catalog-option-active:last-child {
	margin-right: 0px;
	padding: 0;
}

.menu-active {
	opacity: 1;
}

.arrow-list{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.arrow {
	display: flex;
	margin-left: 0px;
	font-size: 0;
	margin-left: 22px;
}

.arrow-up {
	margin-left: 19px;
	margin-right: 2px;
}

.arrow::before {
	content: "";
	display: flex;
	border: 10px solid #000000;
	border-right-width: 5px;
	border-left-width: 5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow-up::before {
	border-top-width: 0;
	margin-right: 0;
}

.arrow-down::before {
	border-bottom-width: 0;
}

.arrow-down {
	opacity: 1;
	padding-left: 0px;
	padding-right: 0px;
}

.arrow-up {
	padding-left: 0px;
	padding-right: 0px;
}

.image-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
	padding:0;
	margin-bottom: 28px;
}

.catalog-image {
	width: 360px;
	height: 1px;
	margin: 0;
	padding: 0;
	fill-opacity: 0.12;
}

.catalog-image:hover > .catalog-item-block {
	display: flex;
	opacity: 1;
	
}

.catalog-image:hover > .catalog-image-item {
	display: flex;
	opacity: 1;
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.option-item:hover path {
	fill-opacity: 1;
}

.catalog-image-item {
	position: relative;

	top: -7px;
	left: 0px;
	width: 360px;
	min-height: 0;
}

.catalog-columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
}

.option-item {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 360px;
	height: 576px;
	margin-bottom: 73px;
	margin-left: 40px;
}

/*Баннеры*/

.catalog-item-block {
	position: absolute;
	bottom: -40px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	width: 360px;
	min-height: 230px;


	background-color: #eeeeee;
	background-image: url("../img/pattern-grey.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	opacity: 0;
}

.catalog-item-title {
	margin: 0;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 12px;

	text-align: center;

	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}

.catalog-item-info {
	margin: 0;
	padding: 0;
	margin: 0 55px;

	overflow: auto;
	
	margin-bottom: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	max-height: 385px;

	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}

.catalog-btn {
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 43px;
}

 /*Пагинация*/
.pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	list-style: none;
	margin-left: 40px;
	margin-bottom: 58px;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-item a {
	display: block;
	padding: 13px 20px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item:last-child a {
	margin: 0;
	padding: 0;
	padding: 13px 80px;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
	border-radius: 3px;
}
.pagination-item a:active {
	background-color: #dfdfdf;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item-current a {
	color: #000000;
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
	border-radius: 3px;
	display: block;
	padding: 10px 17px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
	margin-right: 11px;
}


/*Слайдер*/

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.slider {
	position: relative;
	bottom: 0px;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;

	background: #ffffff;

	border-radius: 50%;
}

.slider-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: none;
	padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 10px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 39px;
}

/*Скрытая форма*/

.modal {
	position: fixed;

	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);

	 top: 50%;
	left: 50%;

	display: none;

	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	width: 760px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 78px;
	padding-bottom: 85px;
	margin: 0 auto;

	background-color: #ffffff;
	background-image: url("../img/pattern-white.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	z-index: 100;
}

.modal-close {
	position: absolute;
	top: 90px;
	right: 93px;
	width: 20px;
	height: 20px;

	font-size: 0;
	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 8px;
	left: -1px;

	width: 27px;
	height: 4px;

	background-color: #fb565a;
	opacity: 0.3;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
	background-color: #fb565a;
	opacity: 1;
}

 .modal-close:focus::before,
 .modal-close:focus::after {
	background-color: #fb565a;
	opacity: 0.1;
	border: #ffffff;
}

.modal-feedback-title {
	display: flex;
	margin-bottom: 42px;
}

.form-info {
	display: flex;
	flex-wrap: wrap;
}

.modal-feedback-column {
	display: flex;
	flex-direction: column;

	width: 360px;
	margin-right: 40px;
	margin-bottom: 35px;
}

.modal-feedback-column:nth-child(2) {
	margin-right: 0px;
}

.modal-feedback-column:nth-child(3) {
	margin-bottom: 51px;
}

.modal-feedback-btn {
	width: 260px;
}

label {
	margin-bottom: 10px;
}

.modal-feedback-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.modal-feedback-data {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.form-login textarea {
	margin: 0px;
	width: 728px;
	padding: 5px 15px 10px;

	font: inherit;

	border: 2px solid #d7dcde;
	border-radius: 4px;
	outline: none;
	box-shadow: none;
}

.form-login [type="text"],
.form-login [type="email"] {
	padding: 10px 15px;

	color: #444444;
	font: inherit;

	border: 2px solid #d7dcde;
	border-radius: 4px;
	outline: none;
	box-shadow: none;
}

textarea:hover,
.modal-login input:hover {
	border: 2px solid #b4b9bb;
}

textarea:focus,
.modal-login input:focus {
	border: 2px solid #000000;
}


textarea:focus:invalid,
 .modal input:focus:invalid {
	border: 2px solid #e74246;
	color: #e74246;
}

::-webkit-input-placeholder {
	color: #444444;
	opacity: 0.5;
}

::-moz-placeholder {
	color: #444444;
	opacity: 0.5;
}

:-moz-input-placeholder {
	color: #444444;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: #444444;
	opacity: 0.5;
}

.modal-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes bounce {
	0% {
	transform: translateY(-2000px);
	}

	70% {
	transform: translateY(30px);
	}

	90% {
	transform: translateY(-10px);
	}

	100% {
	transform: translateY(0);
	}
  }

